doctype html
html
    head
        link(href='style.css' rel='stylesheet')
    body
        ul
            each item in config.menu
                a(href=item[1])
                    div(class='menu_item')
                        li(id=item[1]) #{item[0]}