html {
    background: #ED2700;
    color: #FFF;
    padding: 20px;
}

ul {
    display: table-row-group;
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
}

.menu_item {
    float: left;
}

li {
    background: #7D3003;
    border: solid 1px;
    border-color: #FFF;
}

li a {
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}