extends layout
    
block content
    script(src="./frontEnd.js")
    h1(id="title") #{title}
    img.image(id = "image_0" src="Express_Burger_Assets/placeholder.png" width = "412")
    h2(id="item_0") - $0.00
    img.image(id = "image_1" src="Express_Burger_Assets/placeholder.png" width = "412")
    h2(id="item_1")  - $0.00
    img.image(id = "image_2" src="Express_Burger_Assets/placeholder.png" width = "412")
    h2(id="item_2")  - $0.00
    img.image(id = "image_3" src="Express_Burger_Assets/placeholder.png" width = "412")
    h2(id="item_3")  - $0.00
    img.image(id = "image_4" src="Express_Burger_Assets/placeholder.png" width = "412")
    h2(id="item_4")  - $0.00

    body(onload="OnLoad();")