extends layout

block content
    h1 #{title}
    img.image(src="Express_Burger_Assets/Assets_Desserts/2300-lg.jpg" width = "412")
    h2(id="item_0") Root Beer Float- $3.99
    img.image(src="Express_Burger_Assets/Assets_Desserts/Lava-Brownies-Square.jpg" width = "412")
    h2(id="item_1") Spray Farted Nut- $2.99
    img.image(src="Express_Burger_Assets/Assets_Desserts/classic-cheesecake-d104417_horiz.jpg" width = "412")
    h2(id="item_2") Cheesecake- $5.99
    img.image(src="Express_Burger_Assets/Assets_Desserts/90948598-homemade-banana-split-sundae-american-dessert-isolated-on-white-background.jpg" width = "412")
    h2(id="item_2") Banana Split Sundae- $4.99
    img.image(src="Express_Burger_Assets/Assets_Desserts/268685-papa-johns-big-cookie-primary.jpg" width = "412")
    h2(id="item_2") Big Ol' Cookie- $4.99