extends layout

block content
    h1 #{title}
    img.image(src="Express_Burger_Assets/Assets_Drinks/coke-all1.png" width = "412")
    h2(id="item_0") Soda- $1.99
    img.image(src="Express_Burger_Assets/Assets_Drinks/2322CC-lg.jpg" width = "412")
    h2(id="item_1") Genuine Piss- $15.99
    img.image(src="Express_Burger_Assets/Assets_Drinks/homemade-hawaiian-ginger-ale-940.jpg" width = "412")
    h2(id="item_2") Hawaiian thing- $0.69
    img.image(src="Express_Burger_Assets/Assets_Drinks/root-beer-677x410.jpg" width = "412")
    h2(id="item_2") Big Ol' Root Beer- $3.99
    img.image(src="Express_Burger_Assets/Assets_Drinks/drinks-695x521.jpg" width = "412")
    h2(id="item_2") Some Gross Ass Ginger Ale- $2.99
    