extends layout

block content
    h2 Express Burgers Motto
    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ultricies ex. Quisque in eleifend sapien. Nunc tincidunt risus ornare ultricies placerat. Donec nunc sapien, volutpat nec sem vitae, laoreet tempus risus. Donec gravida fringilla faucibus. Aenean faucibus ex dolor, ac rutrum ex dapibus vel. Vivamus ut mattis quam. Morbi imperdiet odio sed nunc scelerisque volutpat. Phasellus finibus nec turpis vel dapibus. Mauris a libero commodo, feugiat arcu in, placerat lorem. Cras sagittis arcu sem, quis viverra augue sodales et.
    h3 -Express Burgers Founders
    a(href="StoreLocator.html") Go to Store Locator