extends layout
    
block content
    script(src="frontend.js")
    h1 #{title}
    img.image(src="Express_Burger_Assets/Assets_Sides/C93.jpg" width = "412")
    h2(id="item_0") Medium Crinkle Fries- $2.99
    img.image(src="Express_Burger_Assets/Assets_Sides/99-Cent-Mozzarella-Sticks-At-Sonic-On-June-7-2018-678x381.jpg" width = "412")
    h2(id="item_1") Mozzarella Sticks- $5.99
    img.image(src="Express_Burger_Assets/Assets_Sides/099490-600x600-A.jpg" width = "412")
    h2(id="item_2") 8 Piece Chicken Tenders- $8.99
    img.image(src="Express_Burger_Assets/Assets_Sides/a0aa52ac-c0fa-4b19-92ef-01c89f2a2e00.jpg" width = "412")
    h2(id="item_2") Lightly Fried Fish Filets- $9.99