extends layout
    
block content
    h1 #{title}
    img.image(src="Express_Burger_Assets/Assets_Sides/C93.jpg" width = "412")
    h2(id="item_0") Medium Crinkle Fries- $2.99
    img.image(src="Express_Burger_Assets/Assets_Burgers/western_bacon_cheeseburger_cke_restaurants_450x360.jpg" width = "412")
    h2(id="item_1") Western Bacon Cheeseburger- $11.99
    img.image(src="Express_Burger_Assets/Assets_Burgers/veggie-burger-main-main.jpg" width = "412")
    h2(id="item_2") Veggie Burger- $11.99
    img.image(src="Express_Burger_Assets/Assets_Burgers/10210001-big-jack-daddy-burger.jpg" width = "412")
    h2(id="item_2") Half Pound Burger- $14.99