html {
    background: #ED2700;
    color: #FFF;
    padding: 20px;
}

ul {
    display: table-row-group;
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    background: #7D3003;
}

.menu_item {
    float: left;
    border: solid 1px;
    border-color: #FFF;
}

/* li {
} */

.menu_item a {
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.menu_item a:hover {
    background: #461001;
}