html {
    background: #FFF;
    color: #ED2700;
    /* padding: 10px; */
}

.TitleHead {
    vertical-align: middle;
    position: relative;
}

h1 {
    color: #FFF;
    margin: 0px 15px 0px;
}

p {
    color: #FFF;
}

.Logo {
    width: 150px;
    height: 150px;
    margin: 10px 10px 0px;
}

h2 {
    background: #461001;
    color: #FFF;
    padding: 5px;
}

h3 {
    background: #CF7A15;
    color: #FFF;
    padding: 10px;
    border: #461001 solid 2px;
}

body {
    background: #ED2700;
}

.link_item {
    visibility: hidden;
    text-decoration: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.show {
    display: block;
}

nav {
    background: #7D3003;
}

.dropButton {
    float: right;
    background: #CF7A15;
    color: white;
    border: none;
    margin: 4px;
    cursor: pointer;
}

.dropButton:hover, .dropButton:focus {
    background: #FFF;
}



.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

ul {
    display: table-row-group;
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
}

.menu_item {
    float: left;
    width: 100px;
    height: 40px;
    -webkit-transition: width .5s, height .5s;
    transition: width .5s, height .5s;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.menu_item:hover {
    border: solid 2px;
    border-color: #FFF;
    width: 110px;
    height: 50px;
    background: #461001;
}
