html {
    background: #ED2700;
    color: #FFF;
    padding: 20px;
}

ul {
    display: table-row-group;
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
}

.menu_item {
    float: left;
    background: #7D3003;
    width: 100px;
    height: 40px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.menu_item:hover {
    border: solid 2px;
    border-color: #FFF;
    width: 110px;
    height: 60px;
    background: #461001;
}